:root {
    --background-color: rgb(66, 127, 197);
    --background-color-two: #FAFAFF;
    --text-color: #07153a;
    --text-color2: rgb(4, 3, 41);
    --main-color: #FF9A3D;
    --shadow: #E1E1E1;
    --text-color-dark: #222222;
    --Ubuntu: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --tran0: rotateY(0deg);
    --tran1: rotateY(360deg);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background-color: var(--backgrond-color-two);
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    position: fixed;
    background: url(../photo/title_photo.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.title h1 {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    margin-top: 15vh;
    margin-bottom: 5vh;
    color: whitesmoke;
}
.title form {
    display: grid;
    position: relative;
    grid-template-rows: 10vh 30px 40px;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}
.title #putCity {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 80vw;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--shadow);
    border: 2px solid orange;
    font-size: 0.8em;
    text-transform: capitalize;
}
.title #showWeather{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 60vw;
    max-width: 300px;
    border-radius: 20px;
    color: grey;
    background-color: var(--shadow);
    border: 2px solid orange;
}

.content {
    display: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
.autolocal {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
}

.autolocalisation {
    border-radius: 50%;
    background-color: var(--background-color-two);
    border: none;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 40px;
}
input:focus {
    outline: 0;
}
.suggestions {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 3;
    list-style-type: none;
    background-color: var(--shadow);
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    right: 15%;
    margin-top: 80px;
    min-width: 180px;
    max-width: 350px;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius: 15px;
    z-index: 1;
    border: 2px solid orange;
}
.suggestions li {
    border-bottom: 0.05rem dotted;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.suggestions li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.suggestions li:last-of-type {
    border-bottom: none;
}
.wrapper {
    min-width: 300px;
    width: auto !important;
    max-width: 90rem;
    margin: 0 auto;
    object-fit: cover;
    background-color: var(--background-color);
    box-sizing: border-box;
}

.cover {
    position: relative;
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 30px;
    height: 300px;
    margin-bottom: 30px;
}
.weather-now {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--background-color-two);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}

.name {
    text-transform: capitalize;
}
.hl {
    background-color: var(--background-color-two);
}
.app-title {
    padding-top: 1rem;
    height: 15%;
    box-sizing: border-box;
}
.notification {
    display: none;  
    height: 15%;
    box-sizing: border-box;
    background-color: rgba(196, 101, 101, 0.596);
    color: red;
    font-weight: bold;
    text-align: center;
}
.notification p {
    margin-top: 10px;
}
.weather-hours .app-title {
    height: 15%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}
.weather-hours {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--background-color-two);
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
}
.hours-bottom {
    display: flex;
    height: 85%;
    margin-bottom: 25px;
    box-sizing: border-box;
}
.weather-hours .hours {
    margin-bottom: 0px;
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.test {
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-gap: 30px;
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}
.week {
    background-color: var(--background-color-two);
    margin: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
}
.weather-container {
    background-color: var(--shadow);
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    height: 70%;
    box-sizing: border-box;
    align-items: center;
}
.weather-icon {
    width: 30%;
    animation-name: animation1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.temperature-value {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.week .app-title {
    height: 15%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.days-container {
    display: flex;
    height: 85%;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.days {
    width: 20%;
}
.days-container .days {
    margin-bottom: 0px;
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.button-container {
    text-align: center;
}

button {
    box-sizing: border-box;
    height: 3.125rem;
    width: 12.5rem;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(0.25turn, var(--main-color), var(--text-color2));
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    color: #FFFFFF;
}

.buttonsmall {
    width: 6rem;
}

button:hover {
    background: var(--background-color);
    color: var(--text-color2);
    border: 1px solid var(--text-color2);
}

.undercover button:nth-of-type(2) {
    margin-left: 3rem;
}

.topHeader {
    background-color: var(--background-color);
    min-height: 6.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

@keyframes animation1 {
    0% {
        transform: var(--tran0);
    }

    100% {
        transform: var(--tran1);
    }
}

footer,
footer p {
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    color: var(--text-color);
    padding: 1rem;
    margin-top: 0.1rem;
}

/* Mobile Styles */
/*@media only screen and (max-width: 460px) {
    .cover {
        margin: auto;
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
        height: 600px;
        margin-bottom: 70px;
    }
    .weather-now {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: var(--background-color-two);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
        text-transform: capitalize;
    }
    .weather-hours {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: var(--background-color-two);
        border-radius: 15px;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
    }
}*/

/* Tablet Styles */
@media only screen /*and (min-width: 461px)*/ and (max-width: 767px) {
    .cover {
        margin: auto;
        max-width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-gap: 30px;
        margin-bottom: 70px;
        height: 600px;
    }
    .weather-now {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: var(--background-color-two);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
        text-transform: capitalize;
    }
    .weather-hours {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: var(--background-color-two);
        border-radius: 15px;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
    }
    .weather-hours .hours-bottom {
        background-color: var(--shadow);
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        height: 70%;
        box-sizing: border-box;
        align-items: center;
    }
    .weather-hours .hours-bottom .hours.weather-container {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .weather-hours .hours-bottom .hours.weather-container div {
        justify-self: center;
    }

    .test {
        margin-top: calc(110vw - 300px);
    }
    .days-container {
        background-color: var(--shadow);
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        height: 70%;
        box-sizing: border-box;
        align-items: center;
    }
    .days.weather-container {
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .days.weather-container div{
        justify-self: center;
    }
}

/* Desktop Styles - not used */
@media only screen and (min-width: 961px) {
    
}